@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Kufam", sans-serif;
}

header {
    background-color: #FAE5D1 ;
    
}

.logo {
    width: 100px;
    margin-left: 45%;
    margin-right: 45%;
    align-content: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: #FAE5D1 ;
    text-align: center;
    background-color:  #1E1E1E;
    width: 100px;
    border-radius: 10%;
}


.row {
    display: flex;
}

.col_1  {
    display: block;
    margin: auto;
    margin-top: 80px;
    width: 350px;
    background-color: #FAE5D1;
    border-radius: 5%;
}

.vanille {
    border-radius: 5%;
    margin-left: 20px;
    margin-top: 10px;
    width: 300px;
    height: 300px;
}

.text1 {
    text-align: center;
    font-size: 19px;
}

.text2 {
    margin-left: 20px;
    margin-top: 15px;
}

.star{
    color: #AC7961;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
}

.col_2 {
    display: block;
    margin: auto;
    margin-top: 80px;
    width: 350px;
    background-color: #FAE5D1;
    border-radius: 5%;
}

.button {
    display: flex;
    margin-left: 80px;
    margin-top: 15px;
    background-color: #1E1E1E;
    border-radius: 5%;
    width: 200px;
    height: 40px;
    color: white;
}

.cart {
    margin-left: 30px;
}

.price {
    margin-left: 10px;
    margin-bottom: 15px;
}

footer {
    background-color: #AC7961;;
    color: white;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        width: 100%;
        background-color: #1E1E1E;
    }

    .navbar a {
        width: 100%;
        margin: 0;
        padding: 15px;
        border-radius: 0%;
    }


    .row {
        width: 100%;
        margin: auto;
        margin-top: 60px;
        flex-direction: column;
    }
} 


